/* =============
   Extras
============= */


/* =============
   Demo Css
============= */

.demo-box {
  padding: 10px 15px;
}

/* Button demo */

.button-list {
  margin-left: -8px;
  margin-bottom: -12px;
  .btn {
    margin-bottom: 12px;
    margin-left: 8px;
  }
}

/* Popover */

.demo-popover {
  .popover {
    position: relative;
    display: block;
    float: left;
    width: 260px;
    margin: 20px;
    z-index: 9;
  }
}

/* Tooltips */

.demo-tooltip {
  .tooltip {
    position: relative;
    display: inline-block;
    margin: 10px 20px;
    opacity: 1;
  }
}

/* Grid page */

.grid-structure .grid-container {
  background-color: $light3;
  margin-bottom: 18px;
  padding: 12px 20px;
  font-family: $font-secondary;
}

/* Demo Animation */
.demo-animation {
  text-align: center;
  img {
    position: relative;
    width: 120px;
    display: block;
    margin: 0 auto 40px auto;
    z-index: 1;
    border-radius: 2px;
  }
}

/* Demo Only */
.icon-list-demo {
  div {
    cursor: pointer;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #75798B;
    font-size: 14px;

    p {
      margin-bottom: 0;
      line-height: inherit;
    }
  }
  i {
    -webkit-transition: all 0.2s;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    text-align: center;
    transition: all 0.2s;
    vertical-align: middle;
    width: 40px;
  }
  .col-md-4 {
    &:hover {
      color: $primary;
    }
  }
}

.ion-icon{
  i{
    font-size: 22px;
  }
}

/* Switchery demo */
.switchery-demo {
  margin-bottom: -10px;
  .switchery {
    margin-bottom: 10px;
    margin-right: 5px;
  }
}

