/* =============
   Account Pages
============= */

.wrapper-page {
    display: table;
    height: 100vh;
    width: 100%;
  }
  
.account-pages {
    display: table-cell;
    vertical-align: middle;
}
.account-box {
    position: relative;
    max-width: 460px;
    margin: 20px auto;
    background-color: $white;
    border-radius: 5px;
  
    .account-content {
      padding: 30px;
    }
  
    .account-btn {
      position: absolute;
      left: 0;
      right: 0;
    }
  }

